{% extends "blogs/base.html" %}
{% block page_header %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h2 class="fw-light">👽Welcome to my cozy blog👽 </h2>
      <p class="lead text-muted">Here I write about my favorite topics. I invite you to join the fun discussions.</p>
      <p>
        <a class="btn btn-dark" href="{% url 'users:register' %}">Registration</a>
      </p>
    </div>
  </div>
</section>
{% endblock page_header %}
{% block content %}
{% endblock content %}
 

