{% extends "blogs/base.html" %} 
{% block page_header %} 
  <h3>Posts</h3>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for post in posts %} 
      <li><h5>
        <a href="{% url 'blogs:post' post.id %}">{{ post }}</a> 
        <br>
        <p>Date added: {{ post.date_added }}</p>
        <p>Author: {{ post.owner }}</p>
      
        
      </h5></li>
    {% empty %}
      <li><h5>No posts have been added yet.</h5></li>
    {% endfor %}
  </ul>
  <h5><a href="{% url 'blogs:new_post' %}">Add a new post</a></h5>

{% endblock content %}