{% extends 'blogs/base.html' %} 

{% block page_header %} 
 <h4>{{ title }}</h4>
{% endblock page_header %}

{% block content %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ text }}
        <img src="{{ post.image.url }}"> 
        <small><a href="{% url 'blogs:edit_post' post.id %}"> Edit post </a></small>
      </h4>
    </div>
   
   

<!--Comments-->
{% with comments.count as total_comments %}
    <h5>
        {{ total_comments }}{{ total_comments|pluralize }}
    </h5>
{% endwith %}

{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}

<!--Add new post-->
<br>
<p><a class="btn btn-dark" href="{% url 'blogs:new_post' %}" role="button" target="_blank">Add new post</a>
  <br>
  <br>
  <a class="btn btn-dark" href="{% url 'blogs:index' %}" role="button" target="_blank"> Back to main page</a>
</p>
{% endblock content %}